:root {
  --K: #075e54;
  --y: #128c7e;
  --t: #25d366;
  --AU: #bbed95;
  --AV: #34b7f1;
  --AW: #d6f0fc;
  --Z: #b3b3b3;
  --E: #e53935;
  --o: #cf070a;
  --a: #f33;
  --U: rgba(0, 0, 0, 0.36);
  --N: #e1e4e6;
  --AX: #ffad1f;
  --AY: #d5f4f1;
  --AZ: #eff8f4;
  --V: #000;
  --A: #323232;
  --T: #6a6a6a;
  --i: #8c8c8c;
  --M: #ccc;
  --Aa: #d1d1d1;
  --X: #e6e6e6;
  --AP: #f7f7f7;
  --C: #fff;
  --Ab: #00907b;
  --Y: var(--y);
  --F: 17px;
  --B: 14px;
  --G: 12px;
  --q: 20px;
  --O: var(--C);
  --R: 26px;
  --k: 10px;
  --S: 30px;
  --j: 28px;
  --l: 42px;
  --AA: 8px;
  --x: 4px;
  --Ac: calc(var(--x) / 2);
  --Ad: 6;
  --Ae: 6;
  --Af: 3;
  --Ag: 3;
  --AB: 3;
  --AD: 2;
  --AC: 1;
  --Ah: rgba(69, 91, 100, 0.4);
  --Ai: hsla(0, 0%, 100%, 0.25);
  --Aj: rgba(50, 50, 50, 0.8);
  --w: 32px;
  --Q: 32px;
  --H: 14px;
  --I: 18px;
  --AH: 18px;
  --J: 24px;
  --AE: #8c8c8c;
  --AO: var(--C);
  --AM: rgba(38, 50, 56, 0.4);
  --p: var(--C);
  --Ak: #34b7f1;
  --AK: #6bd0ff;
  --Al: 22px;
  --AG: 16px;
  --g: #039be5;
  --L: var(--T);
  --Am: 80vw;
  --An: 50vh;
  --Ao: 50px;
  --r: #09d261;
  --Ap: #03a9f4;
  --Aq: #93a98b;
  --Ar: #b3b3b3;
  --f: var(--g);
  --As: transparent;
  --At: var(--C);
  --Au: var(--g);
  --AT: #ff5d5d;
  --AJ: var(--y);
  --AI: 0;
  --v: 300ms;
  --AN: var(--C);
  --AL: var(--t);
  --D: opacity 200ms;
  --AF: 3;
  --Av: 128px;
}
html.largeText {
  --Ad: 5;
  --Ae: 5;
  --Af: 2;
  --Ag: 3;
}
@media (max-height: 280px) {
  :root {
    --Ad: 5;
    --Ae: 5;
    --Af: 2;
    --Ag: 3;
    --Av: 96px;
  }
  html.largeText {
    --Ad: 4;
    --Ae: 4;
    --Af: 2;
    --Ag: 2;
    --AB: 2;
    --AD: 1;
    --AC: 1;
  }
}
@media (max-height: 250px) {
  :root {
    --Ad: 4;
    --Ae: 4;
    --Af: 2;
    --Ag: 2;
    --An: 40vh;
  }
  html.largeText {
    --Ad: 3;
    --Ae: 3;
    --Af: 1;
    --Ag: 2;
    --AB: 2;
    --AD: 1;
    --AC: 1;
  }
}
.GC {
  hyphens: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.GD {
  hyphens: manual;
  white-space: pre;
  word-wrap: normal;
}
.GE {
  hyphens: none;
  white-space: pre;
  word-wrap: normal;
}
.GF {
  font-size: var(--F);
}
.GF,
.GG {
  font-weight: 400;
}
.GG {
  font-size: var(--B);
  --q: var(--B);
}
.GH {
  font-size: var(--G);
  --q: var(--G);
  font-weight: 400;
}
.GI {
  overflow: hidden;
  text-overflow: ellipsis;
}
.GJ {
  position: absolute;
  top: 0;
  bottom: 0;
}
[dir="ltr"] .GJ,
[dir="rtl"] .GJ {
  left: 0;
  right: 0;
}
.GK {
  flex: none;
  height: var(--w);
  width: var(--w);
  overflow: hidden;
}
[dir] .GK {
  border-radius: 50%;
}
.GL {
  width: var(--Al);
  height: var(--Al);
  display: inline-block;
  vertical-align: text-bottom;
}
.GM,
a {
  text-decoration: none;
  color: var(--f);
}
[dir] .GM,
[dir] a {
  background-color: var(--As);
}
