.a {
  width: 20px;
}
.a,
.b {
  display: inline-block;
}
.b {
  width: 40px;
}
.c {
  display: inline-block;
  width: 60px;
}
.AB {
  height: 20px;
}
.d {
  position: absolute;
  top: var(--R);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
[dir="ltr"] .d,
[dir="rtl"] .d {
  left: 0;
  right: 0;
}
.e {
  position: relative;
  flex: 1 1 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.f {
  flex-shrink: 0;
  height: var(--S);
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--A);
  font-size: 14px;
}
[dir] .f {
  padding: 0 5px;
  background-color: var(--M);
  border-top: 1px solid var(--C);
}
.g.f {
  font-size: 11px;
}
[dir="rtl"] .f {
  flex-direction: row-reverse;
}
.h {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
}
.i {
  justify-content: flex-start;
}
[dir="rtl"] .i {
  justify-content: flex-end;
}
.j {
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: -0.4px;
  font-weight: 700;
}
.k {
  justify-content: flex-end;
}
[dir="rtl"] .k {
  justify-content: flex-start;
}
[dir] .l {
  background-color: rgba(255, 0, 0, 0.25);
}
[dir] .m {
  padding: 0 2px;
}
.n {
  color: var(--T);
  flex-grow: 1;
}
[dir] .n {
  text-align: center;
}
.d.o {
  top: 0;
}
.o .f {
  position: absolute;
  bottom: 0;
  color: var(--C);
}
[dir] .o .f {
  background-color: var(--U);
  border-top: none;
}
[dir="ltr"] .o .f,
[dir="rtl"] .o .f {
  left: 0;
  right: 0;
}
.o .n {
  color: hsla(0, 0%, 100%, 0.8);
}
.p {
  fill: var(--A);
  height: 16px;
}
.q {
  height: 24px;
}
.o .p {
  fill: var(--C);
}
.r {
  visibility: hidden;
}
.o + .s {
  top: 0;
}
.AC {
  height: 100%;
  position: relative;
  overflow-y: var(--W, auto);
}
.W {
  z-index: 1010;
}
[dir] .W {
  background-color: rgba(0, 0, 0, 0.75);
}
.X {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-height: 80%;
  bottom: 0;
}
.Y {
  --O: var(--M);
  flex: none;
}
[dir] .Y {
  background-color: var(--M);
  text-align: center;
  padding: 5px 10px;
}
.Z {
  overflow: hidden;
  flex: auto;
}
[dir] .Z {
  background-color: #fff;
}
.J {
}
.K {
}
.L {
}
.M {
}
[dir] .M {
  padding: 1rem;
}
.CC {
  width: 100%;
  font-size: 1rem;
  color: var(--V);
  line-height: 1.34em;
}
[dir] .CC {
  padding: 8px 10px;
  border-radius: 2px;
  background-color: var(--C);
  border: 1px solid var(--i);
}
[dir] .CC:invalid {
  box-shadow: none;
}
.CD {
  color: var(--E);
}
[dir] .CD {
  box-shadow: 0 -2px 1px -1px var(--E);
}
.CE {
  line-height: 1.37em;
}
.ED {
  white-space: nowrap;
}
.EE {
  font-weight: 600;
}
.DF {
  font-size: var(--q);
  color: var(--O);
}
[dir] .DG {
  margin: 0 6px;
}
.DH {
  hyphens: none;
}
.II {
  width: 100%;
  position: relative;
}
.IJ {
  height: var(--Q);
  width: var(--Q);
  position: absolute;
  top: 4px;
  fill: var(--AE);
  opacity: 0.5;
}
[dir="ltr"] .IJ {
  left: 4px;
}
[dir="rtl"] .IJ {
  right: 4px;
}
html.largeText .IJ {
  top: 9px;
}
.IK {
  width: 100%;
}
[dir="ltr"] .IK {
  padding-left: calc(8px + var(--Q));
}
[dir="rtl"] .IK {
  padding-right: calc(8px + var(--Q));
}
[dir] .IL {
  background-color: var(--Y);
}
[dir] .IL .IK {
  border-color: transparent;
}
.Ht {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: var(--W, auto);
}
[dir] .Hu {
  text-align: center;
  padding: 20px;
}
.Hv {
  position: relative;
}
[dir] .Hv {
  padding: 10px;
}
.Hw {
  opacity: 0;
  position: fixed;
  top: 0;
}
[dir="ltr"] .Hw {
  left: 0;
}
[dir="rtl"] .Hw {
  right: 0;
}
.Hx {
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
}
[dir="ltr"] .Hx,
[dir="rtl"] .Hx {
  right: 10px;
  left: 10px;
}
.Hy {
  opacity: 0;
}
[dir] .Hz {
  background-color: var(--Y);
}
.IA {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
[dir] .IA {
  text-align: center;
  padding: 20px;
}
.Hs {
  overflow-y: hidden;
}
.Cw {
  height: var(--Q);
  width: var(--Q);
}
[dir] .Cw {
  padding: 5px;
}
.Cx {
  height: 100%;
  width: 100%;
}
[dir] .Cx {
  padding: 3px;
  border: 2px solid var(--M);
  border-radius: 50%;
}
[dir] .Cx.Cy.Cz,
[dir] .Cx.Cz {
  border-color: var(--C);
}
[dir] .Cx.Cy {
  border-color: var(--y);
}
.DA {
  height: 100%;
  width: 100%;
}
[dir] .DA {
  border-radius: 50%;
  background-color: var(--y);
}
[dir] .Cz .DA {
  background-color: var(--C);
}
[dir] .DB.Cx.Cy {
  border-color: var(--M);
}
[dir] .DB .DA {
  background-color: var(--M);
}
[dir] .DB.Cz.Cx {
  border-color: var(--M);
}
[dir] .DB.Cz .DA {
  background-color: var(--M);
}
.DC {
  display: flex;
  align-items: center;
}
.DD {
  height: var(--Q);
  width: var(--Q);
  fill: var(--T);
}
.DE {
  fill: var(--C);
}
.AR {
}
.AS {
}
.AT {
  display: flex;
}
.AU {
  flex: auto;
  height: auto;
}
.AV {
  --c: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  min-height: calc(2 * var(--c) + var(--Q));
}
[dir] .AV {
  padding: var(--c);
}
.AW {
  color: #fff;
}
[dir] .AW {
  background-color: var(--Y);
}
.AX {
  height: var(--Q);
  width: var(--Q);
  fill: var(--V);
}
[dir="ltr"] .AX {
  float: right;
}
[dir="rtl"] .AX {
  float: left;
  transform: rotate(180deg);
}
.AY {
  fill: var(--C);
}
[dir] .AZ {
  background-color: rgba(255, 0, 0, 0.25);
}
.Aa,
.AW.Aa {
  color: rgba(0, 0, 0, 0.3);
  fill: rgba(0, 0, 0, 0.3);
}
[dir] .AW.Aa {
  background: rgba(0, 0, 0, 0.05);
}
[dir] .Ab,
[dir] .AW.Ab {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}
.BP {
  color: var(--K);
  font-size: var(--B);
  line-height: 1.445;
  font-weight: 600;
}
[dir] .BP {
  margin-bottom: 5px;
}
.BQ {
  fill: var(--T);
  height: var(--Q);
  width: var(--Q);
}
.BR {
}
[dir] .BS {
  border-bottom: 1px solid var(--X);
}
.BT {
  color: var(--A);
}
.BU {
  color: var(--T);
}
.BV {
}
.BW {
  opacity: 0.5;
}
.BX {
  --c: 10px;
  --n: 60px;
  width: 100%;
  display: flex;
}
[dir] .BX {
  padding: var(--c);
}
.BY {
  --O: var(--Y);
  color: var(--C);
  fill: var(--C);
  --f: var(--C);
  --g: var(--C);
  --L: var(--C);
}
[dir] .BY {
  background: var(--Y);
}
.BY .BQ,
.BY .BP,
.BY .BU,
.BY .BT {
  color: var(--C);
  fill: var(--C);
}
.BZ {
  color: var(--A);
  min-height: calc(var(--B) * 1.445);
}
[dir] .BZ {
  padding: 2px 10px;
  background-color: var(--M);
}
.Ba {
  color: var(--T);
  display: block;
  --c: 10px;
}
[dir] .BY.Ba {
  background: var(--C);
}
[dir="ltr"] .BY.Ba {
  border-left: 5px solid var(--Y);
  padding-left: calc(var(--c) - 5px);
}
[dir="rtl"] .BY.Ba {
  border-right: 5px solid var(--Y);
  padding-right: calc(var(--c) - 5px);
}
.Bb {
  --c: 10px;
  flex-direction: row;
  align-items: center;
  min-height: var(--n);
}
.Bc {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: auto;
}
.Bd {
  display: flex;
  align-items: center;
  flex: none;
}
.Be {
  flex-direction: row;
  align-items: center;
}
.Bf .BU,
.Bf .BT {
  color: var(--o);
}
.BW .BU,
.BW .BT {
  color: var(--i);
}
.BY .BU,
.BY .BT {
  color: var(--C);
}
.Bg {
  fill: var(--K);
}
[dir="ltr"] .Bg {
  margin-right: 10px;
}
[dir="rtl"] .Bg {
  margin-left: 10px;
}
.Bf .Bg {
  fill: var(--o);
}
.BW .Bg {
  fill: var(--i);
}
.BY .Bg {
  fill: var(--C);
}
.Bh {
  flex-direction: column;
  --c: 10px;
}
.Bi {
  flex-direction: row;
  align-items: center;
  min-height: var(--n);
  --c: 10px;
}
.Bi .BT {
  width: 100%;
}
.Bj {
  flex-direction: row;
  align-items: center;
  --c: 0px;
}
.Bk {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
[dir] .Bk {
  padding: 8px 0;
}
[dir="ltr"] .Bl {
  padding-right: 10px;
}
[dir="rtl"] .Bl {
  padding-left: 10px;
}
.Bm {
  fill: var(--p);
  --c: 0px;
}
.Bn,
.Bm {
  min-height: var(--n);
  flex-direction: row;
  align-items: center;
}
.Bn {
  width: 100%;
  display: flex;
  overflow: hidden;
}
[dir="ltr"] .Bn {
  padding: 8px 10px 8px 0;
}
[dir="rtl"] .Bn {
  padding: 8px 0 8px 10px;
}
[dir] .BY .Bn {
  border-color: transparent;
}
.Bo {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.Bp {
}
[dir] .Bp {
  margin: 10px;
}
.FD {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
.FE,
.FF {
  width: var(--w);
  height: var(--w);
}
.FF {
  fill: var(--C);
}
[dir] .FF {
  background-color: var(--M);
}
.FG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.FH {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  fill: #a0a0a0;
}
[dir] .FH {
  border-radius: 50%;
  background-color: var(--C);
}
[dir="ltr"] .FH {
  right: 5px;
}
[dir="rtl"] .FH {
  left: 5px;
}
.FH.FI {
  width: 18px;
  height: 18px;
  bottom: -3px;
  fill: var(--C);
}
[dir] .FH.FI {
  background-color: var(--K);
}
[dir="ltr"] .FH.FI {
  right: -3px;
}
[dir="rtl"] .FH.FI {
  left: -3px;
}
.Eu {
  fill: var(--t);
}
[dir="ltr"] .Eu {
  margin-left: 3px;
}
[dir="rtl"] .Eu {
  margin-right: 3px;
}
.Ev {
  height: var(--AG);
  width: var(--AG);
}
[dir="ltr"] .Ev {
  margin-left: 2px;
}
[dir="rtl"] .Ev {
  margin-right: 2px;
}
.Ew {
  display: flex;
  max-width: 100%;
}
.Ex {
  flex-grow: 0;
  flex-shrink: 1;
}
.Ey {
}
.Ez {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.FA:before {
  content: "~";
}
.AL {
}
.AM {
}
.AN {
}
.AO {
}
.AP {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.AQ {
  color: #fff;
}
[dir] .AQ {
  background-color: var(--Y);
}
@keyframes u {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes v {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
.t {
  --P: 5px;
  width: var(--Q);
  height: var(--Q);
  position: relative;
}
[dir] .t {
  transform-origin: center center;
}
[dir="ltr"] .t {
  animation: u 2s linear infinite;
}
[dir="rtl"] .t {
  animation: v 2s linear infinite;
}
.w {
  width: 30vmin;
  height: 30vmin;
}
[dir] .w {
  margin: 20px auto;
}
.x {
  width: var(--P);
  height: var(--P);
  position: absolute;
  top: 0;
}
[dir] .x {
  background-color: var(--C);
  border-radius: 50%;
}
[dir="ltr"] .x {
  left: calc(50% - 2.5px);
}
[dir="rtl"] .x {
  right: calc(50% - 2.5px);
}
.y {
  height: 100%;
  width: 100%;
}
[dir] .y {
  border: var(--P) solid var(--M);
  border-radius: 50%;
}
.IW {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.IX {
  --w: 34px;
  flex: none;
}
[dir] .IX {
  margin-top: 8px;
  border: 1px solid var(--C);
}
.IY {
  color: var(--V);
  max-width: 100%;
}
[dir] .IY {
  margin-bottom: 5px;
}
.IZ {
  display: flex;
}
.IX.Ia {
  position: relative;
  display: inline-block;
  fill: var(--C);
}
[dir] .IX.Ia {
  background-color: var(--M);
}
.IX.Ia:first-child {
  z-index: 99;
}
.IX.Ia:nth-child(2) {
  z-index: 98;
}
[dir="ltr"] .IX.Ia:nth-child(2) {
  margin-left: -28px;
}
[dir="rtl"] .IX.Ia:nth-child(2) {
  margin-right: -28px;
}
.IX.Ib {
  fill: var(--i);
}
[dir] .IX.Ib {
  background-color: var(--M);
}
.Sq {
  --d: 8px;
  --e: 10px;
  --w: 48px;
}
.Sr {
  display: flex;
  flex: auto;
}
[dir] .Sr {
  margin: 0 7px;
}
.Ss {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  min-height: 60px;
}
[dir] .Ss {
  background-color: var(--AP);
}
.St {
  flex: none;
}
[dir] .St {
  margin: var(--d) var(--e);
}
.Su {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  overflow: hidden;
}
[dir] .Su {
  padding-top: var(--d);
  padding-bottom: var(--d);
}
[dir="ltr"] .Su {
  padding-right: var(--e);
}
[dir="rtl"] .Su {
  padding-left: var(--e);
}
.Sv {
}
.Sw {
  color: var(--T);
}
.Sx {
  width: var(--w);
  height: var(--w);
}
.Sy {
  width: 25%;
}
[dir] .Sy {
  padding: 0 3px;
}
[dir] .SX {
  margin-top: 10px;
}
.Fk {
  display: flex;
  align-items: center;
  overflow-x: var(--W, auto);
}
[dir] .Fk {
  padding: 0 3px;
  background-color: var(--C);
}
.Fl {
  position: relative;
  flex: none;
  max-width: calc(100vw - 60px);
}
[dir] .Fl {
  padding: 5px 7px;
}
.Fm > .Fl {
  visibility: hidden;
}
.Fn {
  font-weight: 700;
}
.Fn:after {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: 2px;
  bottom: 2px;
}
[dir] .Fn:after {
  border-radius: 2px;
  background-color: var(--Y);
}
[dir="ltr"] .Fn:after {
  left: 2px;
}
[dir="rtl"] .Fn:after {
  right: 2px;
}
.Fo {
  height: var(--AH);
  fill: var(--AE);
}
[dir] .Fo {
  margin-bottom: -4px;
}
html.largeText .Fo {
  height: var(--J);
}
html[dir].largeText .Fo {
  margin-bottom: -8px;
}
.Fp:after {
  content: " ";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 9px;
  opacity: 0.75;
}
[dir] .Fp:after {
  background: var(--y);
  border-radius: 50%;
}
[dir="ltr"] .Fp:after {
  right: 2px;
}
[dir="rtl"] .Fp:after {
  left: 2px;
}
[dir="ltr"] .Fp {
  padding-right: 1px;
}
[dir="rtl"] .Fp {
  padding-left: 1px;
}
.Fq {
  position: relative;
  min-width: 125px;
}
.Fr {
  display: none;
}
.Fq .Fr {
  display: flex;
  position: absolute;
  bottom: 0;
}
[dir="ltr"] .Fq .Fr,
[dir="rtl"] .Fq .Fr {
  left: 0;
  right: 0;
}
.Fs {
  flex: auto;
}
[dir="ltr"] .Fs {
  background: linear-gradient(
    90deg,
    transparent,
    var(--multiline-background, var(--z))
  );
}
[dir="rtl"] .Fs {
  background: linear-gradient(
    270deg,
    transparent,
    var(--multiline-background, var(--z))
  );
}
.Ft {
  flex: none;
  align-self: stretch;
}
[dir] .Ft {
  background-color: var(--multiline-background, var(--z));
}
[dir="ltr"] .Ft {
  padding-left: 15px;
}
[dir="rtl"] .Ft {
  padding-right: 15px;
}
[dir="ltr"] .Fu {
  padding-right: var(--AI);
}
[dir="rtl"] .Fu {
  padding-left: var(--AI);
}
.Fv {
  overflow: hidden;
}
.Fv,
.Fw {
  white-space: pre-wrap;
}
.Fx {
  color: var(--AJ);
}
.Hi {
  --d: 8px;
  --e: 10px;
  --w: 48px;
}
[dir] .Hi {
  background: var(--C);
}
.Hj {
  display: flex;
  flex: auto;
}
[dir] .Hj {
  margin: 0 7px;
}
.Hk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  min-height: 60px;
  --O: var(--AP);
}
[dir] .Hk {
  background-color: var(--AP);
}
.Hl {
}
[dir] .Hl {
  margin: var(--d) var(--e);
}
.Hm {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  overflow: hidden;
}
[dir] .Hm {
  padding-top: var(--d);
  padding-bottom: var(--d);
}
[dir="ltr"] .Hm {
  padding-right: var(--e);
}
[dir="rtl"] .Hm {
  padding-left: var(--e);
}
.Hn {
}
.Ho {
  color: var(--V);
}
[dir] .Ho {
  margin: 5px var(--e);
}
[dir] .Hp {
  margin: 5px var(--d);
}
.Hq {
  width: 25%;
}
[dir] .Hq {
  padding: 0 3px;
}
.Hr {
  color: var(--T);
}
.Fy {
  color: var(--T);
}
.Fz {
  color: var(--T);
  --z: var(--AP);
}
.GA {
  max-height: calc(2.89 * var(--G));
}
.GB:before {
  content: "~";
}
.Wl {
  font-weight: 600;
}
.BM {
  --O: var(--K);
  color: var(--C);
  height: var(--j);
  line-height: var(--j);
  flex: none;
}
[dir] .BM {
  background-color: var(--K);
  padding: 0 var(--k);
  text-align: center;
}
.BN {
  height: var(--l);
  line-height: var(--m);
}
.BO {
  flex: 1 1 0;
  overflow: hidden;
}
[dir] .BO {
  background-color: var(--C);
}
.P {
}
.Q {
}
.R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[dir] .R {
  background-color: var(--N);
}
.S {
}
.T {
}
.U {
  stroke: #455b64;
  stroke-width: 3;
  opacity: 0.5;
  width: 103px;
  stroke-linecap: round;
}
.V {
  color: #000;
  opacity: 0.58;
}
[dir] .V {
  margin-top: 22px;
  text-align: center;
  padding: 0 10px;
}
.HP {
  color: var(--AT);
}
.HQ {
  font-weight: 600;
}
.HR {
}
.HS {
  word-break: break-all;
  hyphens: none;
}
[dir] .HS {
  margin-top: 10px;
}
.Ed {
}
[dir] .Ed {
  padding: 1rem;
}
[dir] .Ed ul {
  margin: 3px 0;
}
[dir="ltr"] .Ed ul {
  padding-left: 20px;
}
[dir="rtl"] .Ed ul {
  padding-right: 20px;
}
[dir] .Ed li {
  padding-top: 4px;
}
.Ee {
  height: 20px;
  width: 20px;
}
.Ef {
  min-height: 10px;
}
.IS,
.IT,
.IU {
  height: var(--AH);
  fill: var(--AM);
}
.IV {
  height: var(--AH);
  fill: var(--Ak);
}
.IE {
  flex: none;
  width: 20px;
  height: 20px;
}
[dir="ltr"] .IE {
  margin-left: 5px;
}
[dir="rtl"] .IE {
  margin-right: 5px;
}
.IF {
  --Q: 20px;
  flex: none;
  height: var(--Q);
  width: var(--Q);
  fill: var(--o);
}
[dir="ltr"] .IF {
  margin-left: 3px;
}
[dir="rtl"] .IF {
  margin-right: 3px;
}
.IG {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IH {
  font-size: var(--G);
  line-height: var(--G);
  min-height: calc(var(--G) + 4px);
  min-width: calc(var(--G) + 5px);
  color: var(--AN);
}
[dir] .IH {
  padding: 2px 4px;
  border-radius: calc((var(--G) + 4px) / 2);
  background-color: var(--AL);
  text-align: center;
}
.Fb {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
}
.Fc {
}
.Gp {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
[dir] .Gq {
  margin-bottom: -3px;
}
[dir="ltr"] .Gq {
  margin-right: 2px;
}
[dir="rtl"] .Gq {
  margin-left: 2px;
}
.Gr {
  height: var(--AH);
  fill: var(--AE);
}
[dir] .Gr {
  margin-bottom: -3px;
}
[dir="ltr"] .Gr {
  margin-right: 4px;
}
[dir="rtl"] .Gr {
  margin-left: 4px;
}
.Gs .Gr.Gt,
.Gt {
  fill: var(--AK);
}
.Gu {
  flex-grow: 1;
  flex-shrink: 1;
  color: var(--T);
}
.Gv {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row-reverse;
}
.Gw {
  height: var(--AH);
  fill: var(--E);
}
.Gs .Gw {
  fill: var(--p);
}
.Gx,
.Gy,
.Gz,
.HA {
  font-style: italic;
}
.HB {
  height: var(--AH);
  fill: var(--AE);
}
[dir] .HB {
  margin-top: 1px;
}
[dir] .HC {
  margin-top: 2px;
}
.HD {
  font-size: var(--B);
  line-height: var(--B);
  width: var(--B);
  color: var(--AL);
}
[dir="ltr"] .HD {
  margin: 2px 1px 0 0;
}
[dir="rtl"] .HD {
  margin: 2px 0 0 1px;
}
.HE {
  display: block;
  --AL: var(--AE);
}
[dir] .HE {
  margin-top: 2px;
}
[dir="ltr"] .HE {
  margin-right: 3px;
}
[dir="rtl"] .HE {
  margin-left: 3px;
}
.HF {
  height: var(--AH);
  fill: var(--AM);
}
.Gs {
  color: var(--C);
  --f: var(--C);
  --g: var(--C);
  --L: var(--C);
}
[dir] .Gs {
  background-color: var(--Y);
}
.Gs,
.Gs .Gu {
  color: var(--C);
}
[dir] .Gs,
[dir] .Gs .Gu {
  background-color: var(--Y);
}
.Gs .HE,
.Gs .HC {
  --AN: var(--Y);
  --AL: var(--C);
}
.Gs .HD {
  color: var(--C);
}
.Gs .Gq {
  fill: var(--p);
}
.Gs .HG {
  fill: var(--AK);
}
.Gs .Gr,
.Gs .HB {
  fill: var(--AO);
}
.Gs .HF {
  fill: var(--p);
}
.ES {
  width: 100%;
  height: 100%;
  stroke: var(--AE);
}
[dir="ltr"] .ES.ET {
  transform: rotate(-90deg);
}
[dir="rtl"] .ES.ET {
  transform: rotate(90deg);
}
[dir="ltr"] .ES.EU {
  animation: EV 2s linear infinite;
}
[dir="rtl"] .ES.EU {
  animation: EW 2s linear infinite;
}
.EX {
  stroke: var(--C);
  fill: var(--C);
}
.EY {
  stroke: var(--t);
  fill: var(--t);
}
.EZ {
  stroke: var(--E);
  fill: var(--M);
}
.Ea {
  stroke-linecap: round;
}
.Eb,
.Ec {
  fill: none;
}
.Eb {
  stroke: var(--M);
}
@keyframes EV {
  to {
    transform: rotate(1turn);
  }
}
@keyframes EW {
  to {
    transform: rotate(-1turn);
  }
}
[dir] .JS {
  margin: 10px;
}
.JT {
}
.JU {
}
.JV {
}
[dir="ltr"] .JW {
  padding-right: 15px;
}
[dir="rtl"] .JW {
  padding-left: 15px;
}
.JX {
  max-height: calc(2.89 * var(--F));
}
[dir] .HW {
  padding: 0.4em 0.2em;
}
.HX {
  display: flex;
  align-items: center;
  position: relative;
}
[dir="ltr"] .HX {
  margin-right: 10px;
}
[dir="rtl"] .HX {
  margin-left: 10px;
}
[dir] .HY {
  border-radius: var(--AA);
  background-color: rgba(0, 0, 0, 0.1);
}
.HZ {
  fill: var(--T);
  height: var(--J);
  width: var(--J);
}
[dir="ltr"] .Ha {
  margin-left: 4px;
}
[dir="rtl"] .Ha {
  margin-right: 4px;
}
.Hb {
  font-weight: 700;
}
.Hc {
  fill: var(--t);
}
.Hd {
  position: absolute;
  height: var(--J);
  width: var(--J);
  top: 0;
}
[dir="ltr"] .Hd {
  left: 0;
}
[dir="rtl"] .Hd {
  right: 0;
}
.He {
  font-style: italic;
  color: var(--T);
}
.Hf {
  display: inline-block;
  width: 10px;
}
.Hg {
  position: absolute;
  bottom: var(--x);
}
[dir="ltr"] .Hg {
  right: var(--x);
}
[dir="rtl"] .Hg {
  left: var(--x);
}
.Hh {
  color: var(--i);
}
[dir="ltr"] .Hh {
  float: right;
  margin-right: 6px;
}
[dir="rtl"] .Hh {
  float: left;
  margin-left: 6px;
}
.Ic {
  color: var(--T);
}
[dir="ltr"] .Ic {
  margin-left: 8px;
}
[dir="rtl"] .Ic {
  margin-right: 8px;
}
.GN {
  display: flex;
}
.GO,
.GN {
  flex-grow: 1;
  flex-shrink: 1;
}
.GO {
}
.GP {
  color: var(--C);
  --f: var(--C);
  --g: var(--C);
  --L: var(--C);
}
[dir] .GP {
  background-color: var(--Y);
}
.GP .GQ {
  color: var(--C);
}
[dir] .GP .GQ {
  background-color: var(--Y);
}
.GQ {
  flex-grow: 0;
  flex-shrink: 0;
}
.GR {
  font-weight: 600;
  color: var(--t);
}
.GS {
  flex-grow: 1;
  flex-shrink: 0;
}
.FB,
.FC {
  width: var(--w);
  height: var(--w);
}
[dir] .FB,
[dir] .FC {
  background-color: var(--M);
}
.FC {
  fill: var(--C);
}
.FJ {
  --c: 0px;
  flex-direction: row;
  align-items: center;
  min-height: var(--n);
}
.FK {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  overflow: hidden;
}
[dir] .FK {
  padding-top: var(--d);
  padding-bottom: var(--d);
  border-bottom: 1px solid var(--X);
}
[dir="ltr"] .FK {
  padding-right: var(--e);
}
[dir="rtl"] .FK {
  padding-left: var(--e);
}
[dir] .FL {
  border-bottom-color: transparent;
}
.FM {
  flex-grow: 1;
  flex-shrink: 1;
}
.FN {
  color: var(--t);
  font-weight: 600;
}
.FO {
  color: var(--C);
}
.FP {
}
[dir] .FP {
  margin: var(--d) var(--e);
}
[dir] .FQ {
  background: #e2f2ef;
}
.FR {
  width: var(--Q);
}
.FS {
  fill: #65b4ab;
}
.FT {
  font-size: var(--B);
}
.Bx {
  --d: 8px;
  --e: 10px;
  --f: var(--T);
  --g: var(--T);
  --L: var(--T);
}
.Id {
  display: flex;
  overflow: hidden;
}
.Ie.Id {
  flex-direction: row-reverse;
}
.If {
  width: auto;
  white-space: nowrap;
  display: flex;
}
[dir] .If {
  transform: translateX(0);
}
.Ig {
  transition: transform 2s linear 2s;
}
[dir="ltr"] .Ig {
  transform: translateX(calc(100vw - 100% - 2 * var(--k)));
}
[dir="rtl"] .Ig {
  transform: translateX(calc(-1 * (100vw - 100% - 2 * var(--k))));
}
.DI {
}
.DJ {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: var(--l);
}
.DK {
  display: flex;
  justify-content: center;
}
.DL {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
[dir="ltr"] .DL {
  padding-left: 8px;
}
[dir="rtl"] .DL {
  padding-right: 8px;
}
.DM {
  flex: 1;
  line-height: 1;
  font-size: 17px;
  --q: 17px;
}
.DM,
.DN {
  display: flex;
  width: 100%;
  align-items: center;
}
.DN {
  font-size: 12px;
  --q: 12px;
  line-height: calc(var(--l) / 2);
}
.DO {
}
.By {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
[dir] .By {
  margin: var(--x) 0;
  padding: 5px;
}
.Bz {
  justify-content: flex-end;
}
.CA {
  justify-content: flex-start;
}
.CB {
  justify-content: center;
  height: 50vh;
}
.IB {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
[dir] .IB {
  text-align: start;
  background: var(--Z);
  padding-top: var(--x);
}
.IC {
  flex-grow: 1;
  flex-shrink: 1;
}
.z {
}
.AA {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
[dir] .AA {
  background-color: var(--V);
}
* {
  box-sizing: border-box;
}
html.largeText {
  --F: 22px;
  --B: 18px;
  --G: 16px;
  --H: 16px;
  --I: 24px;
  --J: 32px;
}
html {
  font-family: Open Sans, sans-serif;
  font-size: var(--F);
  line-height: 1.445;
  color: var(--A);
}
html[dir] {
  background-color: var(--K);
}
input,
textarea {
  font-family: Open Sans, sans-serif;
}
#root,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
div:focus {
  outline: none;
}
.N {
  width: 100%;
  height: 100%;
}
.O {
  z-index: 1010;
}
[dir] .O {
  background-color: rgba(0, 0, 0, 0.75);
}
.mentionAt {
  color: var(--L);
}
@font-face {
  font-family: Emoji0;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk0.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji1;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk1.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji2;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk2.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji3;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk3.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji4;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk4.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji5;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk5.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji6;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk6.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji7;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk7.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji8;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk8.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji9;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk9.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji10;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk10.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji11;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk11.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji12;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk12.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji13;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk13.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji14;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk14.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji15;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk15.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji16;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk16.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji17;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk17.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji18;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk18.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji19;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk19.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji20;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk20.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji21;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk21.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji22;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk22.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji23;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk23.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji24;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk24.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji25;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk25.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji26;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk26.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji27;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk27.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji28;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk28.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji29;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk29.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji30;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk30.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji31;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk31.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji32;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk32.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji33;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk33.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji34;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk34.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji35;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk35.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji36;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk36.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji37;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk37.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji38;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk38.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji39;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk39.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji40;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk40.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji41;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk41.woff2)
    format("woff2");
}
@font-face {
  font-family: Emoji42;
  src: url(https://kaios.whatsapp.net/static/woff1_814378df-fcca-40bf-a2c2-ddeec7372a1b/fonts/chunk42.woff2)
    format("woff2");
}
